article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}

html,
body,
h1,
h2,
h3,
ul,
li,
a,
p,
article,
aside,
footer,
header,
main,
nav,
section {
  padding: 0;
  margin: 0;
}

.themeNeonDark {
  --backgroundcolor-primary: black;
  --color-text: white;
  --boxshadow1-textshadow1: 0 0 5px #ffffff, 0 0 20px rgba(255, 255, 255, 0.8),
    0 0 25px rgba(255, 255, 255, 0.7), 0 0 35px rgba(255, 255, 255, 0.6);
  --boxshadow2-textshadow2: 0 0 5px #ff0000, 0 0 20px rgba(255, 0, 0, 0.8),
    0 0 35px rgba(255, 0, 0, 0.7), 0 0 50px rgba(255, 0, 0, 0.6);
  --current-page: rgb(255, 42, 42);
  --section-color: rgb(32, 32, 32);
  --article-color: rgb(63, 63, 63);
  --text-link: rgb(218, 162, 98);
  --footer-link: blue;
  --hover-color: red;
  --aside-shadow: 0 0 5px #ffffff, 0 0 20px rgba(255, 255, 255, 0.8),
    0 0 25px rgba(255, 255, 255, 0.7), 0 0 35px rgba(255, 255, 255, 0.6);
  --currentpage-shadow: 0 0 5px #ffffff, 0 0 20px rgba(255, 255, 255, 0.8),
    0 0 25px rgba(255, 255, 255, 0.7), 0 0 35px rgba(255, 255, 255, 0.6);
  --asidebutton-shadow: 0 0 5px #ffffff, 0 0 20px rgba(255, 255, 255, 0.8),
    0 0 25px rgba(255, 255, 255, 0.7), 0 0 35px rgba(255, 255, 255, 0.6);
}

.themeNeonLight {
  --backgroundcolor-primary: white;
  --color-text: black;
  --boxshadow1-textshadow1: 0 0 5px #000000, 0 0 20px rgba(0, 0, 0, 0.8),
    0 0 25px rgba(0, 0, 0, 0.7), 0 0 35px rgba(0, 0, 0, 0.6);
  --boxshadow2-textshadow2: 0 0 5px #ffffff, 0 0 20px rgba(255, 255, 255, 0.8),
    0 0 25px rgba(255, 255, 255, 0.7), 0 0 35px rgba(255, 255, 255, 0.6);
  --current-page: rgb(255, 42, 42);
  --section-color: rgb(182, 182, 182);
  --article-color: rgb(211, 210, 210);
  --text-link: rgb(211, 135, 49);
  --footer-link: blue;
  --hover-color: red;
  --aside-shadow: 0 0 5px #000000, 0 0 20px rgba(0, 0, 0, 0.8),
    0 0 25px rgba(0, 0, 0, 0.7), 0 0 35px rgba(0, 0, 0, 0.6);
  --currentpage-shadow: 0 0 5px #ffffff, 0 0 20px rgba(255, 255, 255, 0.8),
    0 0 25px rgba(255, 255, 255, 0.7), 0 0 35px rgba(255, 255, 255, 0.6);
  --asidebutton-shadow: 0 0 5px #000000, 0 0 20px rgba(0, 0, 0, 0.8),
    0 0 25px rgba(0, 0, 0, 0.7), 0 0 35px rgba(0, 0, 0, 0.6);
}

.indexbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px;
  background-color: var(--backgroundcolor-primary);
  color: var(--color-text);
}

h1.h1 {
  padding: 13.5px 30px;
  color: var(--color-text);
  float: left;
  text-shadow: var(--boxshadow2-textshadow2);
}

nav {
  width: 97.4%;
}

nav .navul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
  color: var(--color-text);
}

nav .navul .navli {
  display: block;
  float: left;
}

nav .navul .navli .currentpage {
  color: var(--current-page);
  text-shadow: var(---currentpage-shadow);
}

nav .navul .navli a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  color: var(--color-text);
  display: block;
  text-decoration: none;
  padding: 20px 30px;
  text-shadow: var(--boxshadow2-textshadow2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .navul .navli a:hover {
  font-size: 2em;
}

.indexsection {
  padding: 5px 10px;
  background-color: var(--section-color);
  width: 70%;
  margin-top: 2em;
  -webkit-box-shadow: var(--boxshadow1-textshadow1);
          box-shadow: var(--boxshadow1-textshadow1);
}

.indexsection h2 {
  font-size: 2em;
}

.indexsection h3 {
  font-size: 1.4em;
}

.indexsection p {
  font-size: 1.1em;
}

footer {
  padding: 10px 10px;
  bottom: 0;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  float: right;
}

footer .footerlink {
  text-decoration: none;
  color: var(--footer-link);
}

#slideNavButton {
  visibility: hidden;
  display: none;
}

header {
  width: 100%;
  background-image: url(images/header1.jpg);
  background-repeat: none;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: var(--color-text);
}

aside {
  background-color: var(--section-color);
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1em;
  -webkit-box-shadow: var(--aside-shadow);
          box-shadow: var(--aside-shadow);
  position: absolute;
  margin-top: 6.3em;
}

aside .asidebutton {
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--article-color);
  color: var(--color-text);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

aside .asidebutton:hover {
  -webkit-box-shadow: var(--asidebutton-shadow);
          box-shadow: var(--asidebutton-shadow);
}

article {
  background-color: var(--article-color);
}

#indexSection {
  cursor: pointer;
}

.zoomIcon {
  height: 20px;
  width: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  float: right;
}

.zoomIcon:hover {
  opacity: 0.7;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.close:hover,
.close:focus {
  color: var(--hover-color);
  cursor: pointer;
}

span.psw {
  display: block;
  float: none;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  border: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 1;
}

.modal-content {
  background-color: var(--section-color);
  margin: 5px auto;
  width: 80%;
  padding: 5px 10px;
  -webkit-box-shadow: var(--boxshadow1-textshadow1);
          box-shadow: var(--boxshadow1-textshadow1);
}

.modal-content h2 {
  font-size: 2.3em;
}

.modal-content h3 {
  font-size: 1.8em;
}

.modal-content p {
  font-size: 1.3em;
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: var(--color-text);
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: var(--boxshadow2-textshadow2);
}

.zoomIconModal {
  height: 30px;
  width: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  float: right;
}

.indextextlink {
  text-decoration: none;
  color: var(--text-link);
}

.indextextlink:hover {
  text-shadow: var(--boxshadow2-textshadow2);
}

.spanNav,
.spanNav2 {
  visibility: hidden;
  display: none;
}

.slideNav,
.slideNav2 {
  visibility: hidden;
  display: none;
}

iframe {
  width: 800px;
}

@media screen and (max-width: 576px) {
  .desktopNav {
    visibility: hidden;
    display: none;
  }
  .navli {
    visibility: hidden;
    display: none;
  }
  header {
    height: 6em;
  }
  .spanNav {
    visibility: visible;
    display: block;
    margin-top: 0.75em;
    float: left;
    display: block;
    font-size: 2em;
    text-shadow: var(--boxshadow2-textshadow2);
  }
  .spanNav2 {
    visibility: visible;
    display: block;
    margin-top: 0.75em;
    float: right;
    display: block;
    font-size: 2em;
    text-shadow: var(--boxshadow2-textshadow2);
  }
  h1.h1 {
    float: center;
    display: block;
    margin-top: 0.5em;
  }
  .aside1 {
    visibility: hidden;
    display: none;
  }
  .indexsection {
    width: 80%;
  }
  .slideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(5, 5, 5, 0.979);
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 60px;
  }
  .slideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .slidenavli,
  .slidenavul {
    visibility: visible;
    display: block;
  }
  #slideNavButton {
    visibility: visible;
    display: block;
    color: white;
    font-size: 2em;
    float: right;
    margin-top: -70px;
    text-decoration: none;
  }
  .slideNav2 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(5, 5, 5, 0.979);
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 60px;
  }
  #slideNavButton2 {
    visibility: visible;
    display: block;
    color: white;
    font-size: 2em;
    float: right;
    margin-top: -70px;
    text-decoration: none;
  }
  .themebutton {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .indexsection p {
    font-size: 1.5em;
  }
  .indexsection h3 {
    font-size: 2em;
  }
  .indexsection h2 {
    font-size: 2.2em;
  }
  .modal-content p {
    font-size: 1.8em;
  }
  .modal-content h3 {
    font-size: 2.3em;
  }
  .modal-content h2 {
    font-size: 2.5em;
  }
  .spanNav,
  .spanNav2 {
    visibility: visible;
    display: block;
  }
  .slideNav,
  .slideNav2 {
    visibility: visible;
    display: block;
  }
  iframe {
    width: 400px;
    height: 300px;
  }
  footer {
    position: fixed;
  }
}
/*# sourceMappingURL=style.css.map */